/* Using SCSS variables to store breakpoints */

/*@media (min-height: 1050px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}*/

.game-container {
  text-align: center;
  white-space: nowrap;
  transform-origin: 0 0;
  background: #fff;
  min-height: 100vh;
}

:host ::ng-deep #game {
  display: inline-block;

  canvas {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

iframe {
  display: block;
  margin: 0 auto;
}
